# Validation tools
DISABLE_HTMLHINT=
DISABLE_STYLELINT=
DISABLE_ESLINT=
DISABLE_JSONLINT=
DISABLE_PYLINT=true
DISABLE_PHP=
DISABLE_PHPMD=
DISABLE_PHPCS=
DISABLE_CHECKBASH=true
DISABLE_CHECKSH=true
DISABLE_YAML=
DISABLE_FILE_BOM=
DISABLE_FILE_CRLF=

# Minifying and uglify tools
DISABLE_HTML_MINIFIER=true
DISABLE_CLEANCSS=true
DISABLE_UGLIFYJS=true
DISABLE_PHPMINIFY=true

# Disable obsolete tools
DISABLE_CSSLINT=true
DISABLE_JSHINT=true
DISABLE_JSCS=true
