/**
 * Style for responsive menu
 */


 /**
  * Example on media queries
  */
 @media screen and (max-width: 680px) {
     .rm-small {
         display: block;
     }
     
     .rm-desktop {
         display: none;
     }
 }

 @media screen and (min-width: 680px) {
     .rm-small {
         display: none;
     }
 }
