@import url('https://fonts.googleapis.com/css?family=KoHo');

html {
    font-size: 100%;
    font-family: 'KoHo', serif;
    line-height: 1.4;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
