/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #F4E3C9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #F4E0E9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #B5DCE1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
