@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    font-size: 100%;
    font-family: "Oswald", sans-serif;
}

p,
li {
    font-size: 1.4em;
}


.row::after {
    content: "";
    display: block;
    clear: both;
}

.row-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 20px;
}

.box:hover {
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.outer-wrap-main {
    background-color: #d40;
    color: rgb(0, 0, 0);
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}

.inner-wrap-main {
    margin: 0 auto;
    width: 960px;
    background-color: #99f;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline;
}
